.idea/*
build/*
cmake-build-debug/*
script-build/*
config.json
PathSimTools/*.json
PathSimTools/__pycache__/
PathSimTools/.idea/*
PathSimTools/.venv/*
algorithm_config.json
*.json
blender/
PathSimTools/__pycache__/initial_setup.cpython-311.pyc
PathSimTools/astrodynamics/__pycache__/
PathSimTools/config_classes/__pycache__/
PathSimTools/input_generators/__pycache__/
testing/

